# Ignorar arquivos de compilação (lixo que o Java cria)
*.class
out/
target/
bin/

# Ignorar arquivos da IDE IntelliJ (configurações locais suas)
.idea/
*.iml
*.iws
*.ipr

# Ignorar logs de erro fatal da JVM (Crash logs)
hs_err_pid*

# Ignorar arquivos do Sistema Operacional (lixo do Windows/Mac)
.DS_Store
Thumbs.db